<div class="container">
  <div class="row">
    <div class="col mt-5" *ngFor="let company of companies">
      <div class="card" style="width: 20rem; height: 415px; box-shadow: 0 0 10px rgba(0,0,0,0.5);" >
        <div class="item-box-blog-date bg-blue-ui white lead"> <span class="mon">{{company.categories}}</span> </div>
        <a href="/company/{{company.id}}"><img class="card-img-top" src="{{company.picURLs[0]}}" style="height: 200px; object-fit:cover;"></a>
      <div class="card-body">
        <h5 class="card-title lead"><a href="/company/{{company.id}}">{{company.companyName}}</a></h5>
        <p class="card-text">{{company.shortDisc}}</p>
        <div class="item-box-blog-data" style="padding: px 15px;">
          <p><i class="fa fa-user-o"></i> {{company.author.username}}, <i class="fa fa-comments-o"></i> Comments(3)</p>
        </div>
      </div>
        <div class="card-footerp-0" style="background: #efefed">
          <div class="progress" style="height: 1px;">
            <div class="progress-bar" role="progressbar" [style.width]="company.reached*100/company.goal + '%'" [attr.aria-valuenow]="company.reached*100/company.goal" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row">
              <div class="col text-center">
                <p class="text-muted">Percent</p>
                <h5 class="lead">{{(company.reached*100/company.goal).toFixed()}}</h5>
              </div>
            <div class="col text-center">
              <p class="text-muted">Goal</p>
              <h5 class="lead">{{company.goal}}</h5>
            </div>
            <div class="col text-center">
              <p class="text-muted">Duration</p>
              <p class="lead">{{company.durationDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
