<div class="container">
  <h2 class="m-3">{{companies.companyName}}</h2>
  <div class="row">
    <div class="col-xs-6">
      <img src="{{companies.picURLs[0]}}" alt="" class="img-responsive pull-right width-40-pct rounded">
      <div class="alert alert-secondary visible-xs">
        {{companies.fullDisc}}
      </div>

    </div>
    <div class="col-xs-4">
      <h4 class="m-3">Category:{{companies.categories}}</h4>
      <h4 class="m-3">Goal: {{companies.goal}}</h4>
      <h4 class="m-3">Date duration: {{companies.durationDate}}</h4>
      <h4 class="m-3">{{companies.author.username}}</h4>
      <input type="hidden" [(ngModel)]="companies.author.username" name="userC">
      <h4 *ngIf="userAdmin"><a [routerLink]= "['../../company-edit/', id]">Edit</a></h4>
    </div>
  </div>
  <div>

  </div>
</div>
