<div class="container" >
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-2">
      <h3 class="m-3">
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
      <div style="text-align: center;" id = dropbox>
        <input type="file" id="fileElem" accept="image/*" style="display:none" (change)="handleFile($event.target.files)">
        <img id="user_avatar" [src]=[avatarURL] title="Profile_pic"
             style="border-radius: 50%; width: 150px; height: 150px">
      </div>
    </div>
  </div>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>
